<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign Up</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <h1>Sign Up</h1>
    <div class="form">
        <form action="/signup" method="post">
            <div class="name-field">
                <label for="username">Set a username: </label>
                <input type="text" id="username" name="username"><br><br>
            </div>
            <div class="password-field">
                <label for="password">Set a password: </label>
                <input type="password" id="password" name="password"><br><br>
            </div>
            <div class="submit-btn">
                <button type="submit">Sign Up</button>
            </div>
        </form>
        <p>Already have an account ?, <a href="/login">Sign in!</a></p>
    </div>
</body>
</html>